/*Archivo de esilos base con importación de librerias*/
@import '../../vendor/twbs/bootstrap/dist/css/bootstrap.min.css';
@import '../../vendor/fontawesome/css/all.min.css';

.jm-loadingpage {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 999999999;
	background: url(../../resources/images/load.gif) center no-repeat #fff;
}
