/* Sidebar */
#sidebar-wrapper{
  z-index:1;
  position: fixed;
  width:0;
  height:100%;
  overflow-y:hidden;
  background: #032556;
  opacity:0.9;
	transition:all .5s;
	display:flex;
	align-items:center;
}
#btnAction {
  margin-top: 30px;
}
.btnGreen {
  margin-top: 40px;
  background-color: #b4ca3d;
  border-color: #b4ca3d;
  color: #1c4f59;
  font-weight: bold;
}
.btnGreen:hover {
  background-color: #b4ca3d;
  border-color: #b4ca3d;
  color: #1c4f59;
}
.btnGreen:focus {
  background-color: #b4ca3d;
  border-color: #b4ca3d;
  color: #1c4f59;
}
.title {
  font-size: 52px !important;
  font-weight: bold;
  background: url(../../resources/images/bienvenido.gif);
  font-family: 'Lucida Grande' !important;
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  line-height: .75;
  margin: 10px 0;
}
.subtitle {
  color: #1a2f4e !important;
}
.sectionTop {
  margin-top: 30px;
  margin-bottom: 70px;
}
/* Main Content */
#page-content-wrapper{
  width: 100%;	
  position: absolute;
  padding:15px;
	transition:all .5s;
}

#menu-toggle{
	transition:all .3s;
	font-size:2em;
}
/* Change the width of the sidebar to display it*/
#wrapper.menuDisplayed #sidebar-wrapper{
  width:250px;
}

#wrapper.menuDisplayed #page-content-wrapper{
  padding-left:250px;
}

/* Sidebar styling */
.sidebar-nav{
  padding:0;
  list-style:none; 
	transition:all .5s;
	width:100%;
}

.sidebar-nav li{
  line-height:40px;  
	width:100%;
	transition:all .3s;
	padding:10px 10px 10px 20px;
}

.sidebar-nav li a {
  display:block;
  text-decoration:none;
  color:#fff;
  font-weight: bold;
}

.sidebar-nav li:hover{
  background:#3da4ca;
}
.sidebar-nav li:hover a{
  color:#032556;
}

.listActive{
  background:#dee2e6;

}
.listActive a{
  color:#032556 !important;
}

#sectBtnUpload {
  margin-top: 20px;
}
.card {
  transition: width .5s, height .5s, transform .5s;
  -moz-transition: width .5s, height .5s, -moz-transform .5s;
  -webkit-transition: width .5s, height .5s, -webkit-transform .5s;
  -o-transition: width .5s, height .5s,-o-transform .5s;
  padding: 20px 10px 20px 10px;
  margin-bottom: 30px;
}

.card:hover{

  transform : scale(1.1);
  -moz-transform : scale(1.1);      /* Firefox */
  -webkit-transform : scale(1.1);   /* Chrome - Safari */
  -o-transform : scale(1.1);
}
.titleCard {
  margin-bottom: 20px;
}
a:hover {
  text-decoration: none;
}
.btn-toggle {
  width: 100%;
  padding: 20px;
}
.articleToggle {
  padding-bottom: 20px;
}
.secTog {
  padding: 30px 20px 30px 20px;
}
.div-foot a{
  position:fixed;
  width:60px;
  height:60px;
  bottom:40px;
  right:40px;
  background-color:#1c4f59;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:30px;
  z-index:100;
}
footer {
  background-color: #eaeaea;
  padding: 20px 20px 10px 20px;
  border-top-left-radius: 1.5em;
  color: #2f4769;
  border-top-right-radius: 1.5em;
}
.div-foot a i {
  margin-top: 14px;
}
/*****/
.slider {
  width: 95%;
  margin: 50px auto;
}
.slider img {
    width: 200px;
    height: 600px;
}
.regular {
  width: 70%;
  margin: 50px auto;
}
.regular img {
    width: 70px;
    height: 100px;
}
.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: #0060aa !important;
}

.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}

.slick-active {
  opacity: .9;
}

.slick-current {
  opacity: 1;
}
.description {
  text-align: center;
  font-size: 26px;
  margin-top: 100px;
  margin-bottom: 80px;
  background-color: #0060aa;
  padding: 30px 20px 30px 20px;
  border-radius: 1.9em;  
}
.description p {
  font-family: 'Lucida Grande';
  letter-spacing: 1px;
  font-weight: bold;
  color: white;
}

@media(max-width: 768px){
  .title {
    font-size: 26px !important;
  }
  .description {
    font-size:  12px !important;
    padding:  20px 10px 20px 10px;
    margin-top: 50px;
    margin-bottom: 40px;
  }
  .slider img {
    width: 300px;
    height: 200px;
  }
  .regular img {
    width: 80px;
    height: 40px;
  }
  .regular {
    width: 90%;
    margin: 20px auto;
  }
  .slider {
    width: 90%;
    margin: 20px auto;
  }
  .div-foot a{
    bottom:20px;
    right:20px;
  }
}

